<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        color: white;
        font-family: "Muli", sans-serif;
      }

      .homepage {
        width: 400px;
        height: 400px;
        background-color: #2d343e;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-evenly;
        border-radius: 5px;
      }
      .homepage input {
        height: 50px;
        width: 80%;
        text-decoration: none;
        background-color: #404450;
        border: none;
        padding-left: 1rem;
        border-radius: 5px;
      }
      .homepage input:focus {
        outline: none;
      }
      .homepage button {
        font-size: 1rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        width: 100px;
        border: none;
        background-color: #ffac41;
        border-radius: 5px;
        color: black;
      }
      .homepage button:hover {
        cursor: pointer;
      }

      .App {
        width: 100%;
        height: 100vh;
        background-color: #282b34;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .App .right {
        flex: 2 1;
      }
      .App .left {
        flex: 1 1;
      }
    </style>
    	<!-- jQuery -->
      <script src="\js\jquery-3.5.1.min.js"></script>
    <script>
      function Join() {
        let username = $('#username').val();
        let roomName = $('#roomName').val();
        let roomPassword = $('#roomPassword').val();

        if(roomName =="" || username==""|| roomPassword==""){
            alert("Please fill all the fileds !!");
        }else{
          $.ajax({
        type: "POST",
        url: "/chat",
        data: JSON.stringify( {"username": username, "roomName": roomName, "password": roomPassword} ),
        success: function(resp) {
            if(resp.status) {
                //alert("password status : "+resp.status);
               // alert("data  status : "+resp.data.roomName);
                sessionStorage.setItem("user", JSON.stringify(resp.data));
                window.location = "/chat";

            }else{
              alert(" room password is wrong ");
            }
        },
        dataType: "json",
        contentType: "application/json"
      });
        }
        
      }
    </script>
    <title>Home</title>
  </head>
  <body class="vsc-initialized" cz-shortcut-listen="true">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div class="App">
        <div class="homepage">
          <h1>Welcome 🙏</h1>
          <input id="username" placeholder="Enter your username"/>
          <input id="roomName" placeholder="Enter room name " />
          <input id="roomPassword" placeholder="Enter room password " type="password" />
          <button onclick="Join()">Join</button>
        </div>
      </div>
    </div>
  </body>
</html>
